.s { }
.o { }
.p { }
.n { }
.p:after {
	position: relative;
	bottom: 5px;
	left: 0px;
	content: "\25cf";
	font-size: 20px;
	font-family:"Times New Roman", Times, serif;
	color: black;
	text-align: center;
 }
.x {
	background-color: lightgrey;
}
.x:after {
	position: relative;
	bottom: 3px;
	left: 0px;
	content: "\d7";
	font-size: 24px;
	font-family:"Times New Roman", Times, serif;
	color: black;
	text-align: center;
}
.f {
	background-color: lightgrey;
}
.field div {
	border: 1px solid grey;
	width: 20px;
    height: 20px;
    float: left;
}
div#comp.field div.f {
	background-color: white;
	border: 1px solid grey;
}
#usr,#comp {
	width: 220px;
	height: 220px;
	position: relative;
	left: 14px;
	top: 10px;
	border: 1px solid grey;
}
.outer {
	width: 250px;
	height: 250px;
    float: left;
    position: relative;
    font-family: Verdana,Georgia,SERIF;
    font-size: 22px;
    text-align: center;
}
.main {
	width: 630px;
	margin: auto;
}